*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#__nuxt,
#__layout {
  height: 100%;
  margin: 0;
}

body {
  line-height: 1.65;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  overflow-wrap: break-word;
}

/**
  * フォーム部品のリセット
  */
button,
input[type='button'] {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  appearance: none;
}

input[type='text'] {
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
}
